
.footer-wrapper {
  width: 100%;
  height: 950px;
  background: #040d14;
}
.footer-container {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  padding-top: 90px;
}
.download-container {
  width: 275px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.global-container {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  border-top: 1px solid #586468;
  border-bottom: 1px solid #586468;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.social-container {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.flag-container {
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.global {
  color: #21ce99;
}
.disclosure-container {
  width: 900px;
  height: 550px;
  display: flex;
  font-size: 11px;
  color: #586468;
  display: flex;
  justify-content: space-between;
}
.para {
  text-align: justify;
  margin-top: 40px;
  width: 430px;
  height: 500px;
  line-height: 1.2;

}
